/maldump/
/slowpoke/examples/
/.lein-repl-history
/.lein-failures
/.nrepl-port
/target/
/sample-users.txt
/test-users.txt
*.pyc
/node_modules/
/coverage/
/build/
/.idea/
/*.iml
/pom.xml
/.classpath
/.project
/.settings/
